@import '../globalStyles/constants.scss';

@font-face {
  font-family: 'Jost';
  font-weight: 400;
  src: url('../../public/fonts/Jost/Jost-Regular.woff');
}
@font-face {
  font-family: 'Jost';
  font-weight: 700;
  src: url('../../public/fonts/Jost/Jost-Bold.woff');
}

body {
  max-width: 1440px;
  margin: 0 auto;
  background-color: #f5f5f5;
  min-width: 340px;
  overflow-x: hidden;
}

.main-wrapper {
  background-color: $main-wrapper-background-color;
}

.btn {
  background: $btn-background-color;
  color: $btn-color;
  max-height: 68px;
  height: 68px;
  border: 1px solid #000000;
  font-size: 22px;
  color: $btn-color2;
}
